yt-dlp
pydub
ffmpeg-python

openai-whisper
torch
torchaudio

deep-translator

langchain
langchain-core
langchain-community


chromadb
sentence-transformers
langchain-huggingface
huggingface-hub
tiktoken

streamlit
streamlit-extras
watchdog

reportlab
fpdf2

python-dotenv
numpy
tqdm
requests
